/* common */
body {
  background-color: #000;
}
.wrap {
  position:relative;
  background-color: #000;

}
.inner {
  max-width:1100px; 
  height: 100%; 
  margin: 0 auto;

}
.com_tit01 {
  font-family: 'NotoB'; 
  font-size:120px; 
  color:#fff; 
  text-align: center;

}
.com_txt01 {
  max-width:70%; 
  margin:0 auto; 
  font-family: 'NotoR'; 
  font-size:32px; 
  color:#fff; 
  text-align: center;;
}

/* main */

/* 타이틀 */
.fix_tit {
  position: fixed; 
  left:50%; 
  top:50%; 
  z-index:100; 
  font-family: 'NotoB'; 
  font-size:80px; 
  line-height: 1; 
  color:#fff; 
  transform:translate(-50%, -50%); 
  -webkit-transform:translate(-50%, -50%); 
  -moz-transform:translate(-50%, -50%); 
  -o-transform:translate(-50%, -50%); 
  -ms-transform:translate(-50%, -50%); 
  opacity: .6;
}
.fix_tit span {
  position: absolute; 
  right:0; 
  top:-30px; 
  font-size:30px; 
  font-family: 'NotoM'; 
  border-bottom:3px solid rgba(255,255,255,.6);
}
.fix_tit.black {
  color:#000; 
  transition:color .5s
}
.fix_tit.black span {
  border-color: rgba(000,000,000,.6);
}

/* 섹션, 네비게이션 */
.ggang_section {
  overflow: hidden; 
  height: 1440px; 
  background-size:cover;
  position: relative;
}
.ggang_section.fixed {
  background-attachment: fixed;
}
.ggang_section .dim {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #050505;
  opacity: 0;
}

.nav_list {
  position:fixed; 
  right:50px; 
  top:50%; 
  z-index:1000; 
  transform:translateY(-50%); 
  -webkit-transform:translateY(-50%); 
  -moz-transform:translateY(-50%); 
  -ms-transform:translateY(-50%);
}
.nav_list li {
  margin-bottom:15px;
}
.nav_list li a {
  position:relative; 
  display:block; 
  color:#fff; 
  transition:.5s; 
  -webkit-transition:.5s; 
  -moz-transition:.5s; 
  -o-transition:.5s; 
  -ms-transition:.5s;
}
.nav_list li a .fa {
  position:absolute; 
  left:-20px; 
  top:5px; 
  width:16px; 
  height:16px; 
  background-image:url('../images/icon_p.png'); 
  background-size:cover; 
  background-position: 0px 0px; 
  transition:transform .5s; 
  -webkit-transition:transform .5s; 
  -moz-transition:transform .5s; 
  -o-transition:transform .5s; 
  -ms-transition:transform .5s; 
}
.nav_list li a.active {
  color:#f0582b;
}
.nav_list li a.active .fa {
  background-position: 0px 16px; 
  transform:rotate(360deg);
}
.nav_list li a:hover, .nav_list li a:focus {
  color:#f0582b; 
  text-decoration: none;
}

/* cube 공식 */
.cube-wrap {
  width: 294px;
  height: 582px;
  perspective: 500px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.cube-wrap .cube_box {
  position: relative;
  height: 100%;
  width: 100%;
  transform-style: preserve-3d; /* 3d 효과 */
  transition: transform .5s;
}
.cube-wrap .cube_box .cube_face {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* border: 3px solid #fff; */
}

/* 직육면체 구하기 */
.cube-wrap .cube_box .cube_face.front {
  width: 294px;
  height: 582px;
  background: url('../images/iphone_front.png');
  transform: rotateY(0deg) translateZ(13px); /* left width / 2 */
}
.cube-wrap .cube_box .cube_face.back {
  width: 294px;
  height: 582px;
  background: url('../images/iphone_back.png');
  transform: rotateY(180deg) translateZ(13px);
}
.cube-wrap .cube_box .cube_face.left {
  width: 38px;
  height: 582px;
  left: 128px; /* left = leftZ - (left width / 2) */
  background: url('../images/iphone_left.png');
  transform: rotateY(-90deg) translateZ(144px); /* front width / 2 */
}
.cube-wrap .cube_box .cube_face.right {
  width: 38px;
  height: 582px;
  left: 128px;
  background: url('../images/iphone_right.png');
  transform: rotateY(90deg) translateZ(144px);
}
.cube-wrap .cube_box .cube_face.top {
  width: 294px;
  height: 38px;
  top: 272px; /* topZ - (top height / 2) */
  background: url('../images/iphone_top.png');
  transform: rotateX(90deg) translateZ(288px); /* front height / 2 */
}
.cube-wrap .cube_box .cube_face.bottom {
  width: 294px;
  height: 38px;
  top: 272px;
  background: url('../images/iphone_bottom.png');
  transform: rotateX(-90deg) translateZ(288px);
}

/* 추가 */
#a {
  height: 3000px;
}
.cube-wrap .cube_box.side {
  transform: rotateY(90deg) scale(1.15);
}
.cube-wrap .cube_box.upper_side {
  transform: rotateX(90deg) scale(1.1);
}
.cube-wrap .cube_box.back {
  transform: rotateY(-180deg) scale(1);
}